<% if user_signed_in? %>
  <div class="d-flex justify-content-center">
  <h2> <%= current_user.first_name %> 's bookings</h2>
  </div>
    <div class="container">
      <div class="justify-content-center">
        <% @bookings.each do |booking| %>
          <div class="row">
            <div class="col-3">
              <% if booking.instrument.photos.attached? %>
                <%= cl_image_tag booking.instrument.photos.first.key, width: 80, height: 150, class: 'fit-cover rounded' %>
                <% else %>
                  <%= image_tag "musician1.png", height: 100 %>
              <% end %>
            </div>
            <div class="col-3">
              <li><%= booking.instrument.brand %></li>
              <li><%= booking.instrument.condition %></li>
              <li><%= booking.instrument.renting_price %></li>
            </div>
            <div class="col-3">
              <% if booking.pending? %>
                <i class="fas fa-spinner mt-2 mx-2" data-toggle="tooltip" data-placement="top" title="Pending" style="font-size:25px"></i>
              <% elsif booking.accepted? %>
                <i class="fas fa-calendar-check mt-2 mx-2"></i>
              <% else %>
                <i class="far fa-times-circle mt-2 mx-2" style="font-size: 25px"></i>
              <% end %>
            </div>
            <div class="col-3">
              <li><%= booking.instrument.brand %></li>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <h1>Book to Tune in</h1>
<%end %>
