<h1>instruments#index</h1>
<% @instruments.each do |instrument| %>
  <p>category: <%= instrument[:category] %></p>
  <p>brand: <%= instrument[:brand] %></p>
  <p>location: <%= instrument[:location] %></p>
  <p>condtion: <%= instrument[:condition] %></p>
  <p>availability: <%= instrument[:availability] %></p>
  <p>renting_price: <%= instrument[:renting_price] %></p>
  <p>user: <%= instrument.user[:email] %></p>
  <%= link_to "show", instrument_path(instrument) %>
  <br>
<% end %>
