<div class="index-banner">
<h1>Instruments</h1>
</div>

<div class="instrument-container d-flex justify-content-around my-box-light flex-wrap mb-2">
<% @instruments.each do |instrument| %>

<div class="card" style="width: 18rem;">
 <%= image_tag "piano.jpeg", class: "card-img-top" %>
 <%# <%= image_tag instrument.photo, class: "card-img-top" %>
  <div class="card-body">
    <h5 class="card-title"><%= instrument[:brand] %></h5>
    <p class="card-text"><strong><%= instrument[:category] %></strong></p>
    <p class="card-text"><%= instrument[:renting_price] %> yen</p>
    <%= link_to "Check", instrument_path(instrument), class: "btn btn-primary" %>
  </div>
   <ul class="list-group list-group-flush">
    <li class="list-group-item">category: <%= instrument[:category] %></li>
    <li class="list-group-item">location: <%= instrument[:location] %></li>
    <li class="list-group-item">condtion: <%= instrument[:condtion] %></li>
    <li class="list-group-item">availability: <%= instrument[:availability] %></li>
     <% if user_signed_in? %>
    <li class="list-group-item">Owner: <%= instrument.user[:email] %></li>
     <% end %>
  </ul>
</div>
<% end %>
</div>


<div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded by <i class="fas fa-music"></i> Taktivent.</p>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
