<div class ="background-home">
<div class="center-container">
<div class="form-container">
  <%= simple_form_for @instrument do |f| %>
    <%= f.input :category, collection: Instrument.categories.keys, class: "input" %>
    <%= f.input :brand, class: "input" %>
    <%= f.input :location, class: "input" %>
    <%= f.input :condition, collection: Instrument.conditions.keys, class: "input" %>
    <%= f.input :renting_price, class: "input" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, class: "input" %>
    <%= f.button :submit, class: "input", class: "btn-outline-secondary" %>
  <% end %>
  </div>
</div>  
</div>



