<div class="container instrument-details-flexbox">
  <div class="instrument-infos instrument-photos">
    <h1><%= @instrument[:category].capitalize %></h1>
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <% @instrument.photos.each do |photo| %>
            <li class="glide__slide"><%= image_tag(photo) %></li>
          <% end %>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </div>
    </div>
  </div>

  <div>
    <div class="instrument-infos">
      <table><tbody>
        <tr>
          <td class="info-header">Brand</td>
          <td><%= @instrument[:brand] %></p></td>
        </tr>
        <tr>
          <td class="info-header">Location</td>
          <td><%= @instrument[:location] %></td>
        </tr>
        <tr>
          <td class="info-header">Condtion</td>
          <td><%= @instrument[:condition] %></td>
        </tr>
        <tr>
          <td class="info-header">Renting price</td>
          <td><%= @instrument[:renting_price] %> JPY/day</td>
        </tr>
        <tr>
          <td class="info-header">Owner</td>
          <td><%= "#{@instrument.user[:first_name]} #{@instrument.user[:last_name]}" %></td>
        </tr>
      </tbody></table>
      <% unless @instrument.bookings.empty? %>
        <hr>
        <p>Not available</p>
        <% @instrument.bookings.each do |booking| %>
          <p>From <%= booking[:start_date] %> to <%= booking[:end_date] %></p>
        <% end %>
      <% end %>
    </div>
    <div class="instrument-infos">
      <h4>Make a booking</h4>
      <%= simple_form_for [@instrument, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit 'Book', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<div class="footer">
    <div class="links">
      <a href="#"><i class="fab fa-fw fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-fw fa-twitter"></i></a>
      <a href="#"><i class="fab fa-fw fa-instagram"></i></a>
      <p>This website was coded by <i class="fas fa-music"></i> Taktivent.</p>

    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

