<h1>instruments#show</h1>
<p>category: <%= @instrument[:category] %></p>
<p>brand: <%= @instrument[:brand] %></p>
<p>location: <%= @instrument[:location] %></p>
<p>condtion: <%= @instrument[:condtion] %></p>
<p>availability: <%= @instrument[:availability] %></p>
<p>renting_price: <%= @instrument[:renting_price] %></p>
<p>user: <%= @instrument.user[:email] %></p>
<% @instrument.photos.each do |photo| %>
  <%= image_tag(photo) %>
<% end %>
<div class="container">
  <%= simple_form_for [@instrument, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>
