<div class="container instrument-details-flexbox">
  <div class="instrument-infos instrument-photos">
    <h1><%= @instrument[:category].capitalize %></h1>
    <div class="glide">
      <div class="glide__track" data-glide-el="track">
        <ul class="glide__slides">
          <% @instrument.photos.each do |photo| %>
            <li class="glide__slide"><%= image_tag(photo) %></li>
          <% end %>
        </ul>
      </div>
      <div class="glide__arrows" data-glide-el="controls">
        <button class="glide__arrow glide__arrow--left" data-glide-dir="<">prev</button>
        <button class="glide__arrow glide__arrow--right" data-glide-dir=">">next</button>
      </div>
    </div>
  </div>

  <div>
    <div class="instrument-infos">
      <table><tbody>
        <tr>
          <td class="info-header">Brand</td>
          <td><%= @instrument[:brand] %></p></td>
        </tr>
        <tr>
          <td class="info-header">Location</td>
          <td><%= @instrument[:location] %></td>
        </tr>
        <tr>
          <td class="info-header">Condtion</td>
          <td><%= @instrument[:condition] %></td>
        </tr>
        <tr>
          <td class="info-header">Renting price</td>
          <td><%= @instrument[:renting_price] %> JPY/day</td>
        </tr>
        <tr>
          <td class="info-header">Owner</td>
          <td><%= "#{@instrument.user[:first_name]} #{@instrument.user[:last_name]}" %></td>
        </tr>
      </tbody></table>
      <% unless @instrument.bookings.empty? %>
        <hr>
        <p>Not available</p>
        <% @instrument.bookings.each do |booking| %>
          <p>From <%= booking[:start_date] %> to <%= booking[:end_date] %></p>
        <% end %>
        <div class="vanilla-calendar" data-controller="calendar" data-calendar-target="calender"></div>
      <% end %>
    </div>
    <div class="instrument-infos">
      <h4>Make a booking</h4>
      <%= simple_form_for [@instrument, @booking] do |f| %>
        <%= f.input :start_date, as: :date, html5: true %>
        <%= f.input :end_date, as: :date, html5: true %>
        <%= f.submit 'Book', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

<footer class="footer">
    <div class="row">
      <div class="col-6">
        <p><i class="fa fa-phone" aria-hidden="true"></i> +44 (0)123 456 789</p>
			<p><i class="fa fa-envelope" aria-hidden="true"></i> info@tunely.com</p>
      </div>
      <div class="col-6" style="text-align: right;">
        <h3>Tunely</h3>
        <p>111 Meguro-ku, Tokyo, 111-111</p>
        </ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-12">&copy; 2022 Taktivent - <a href="#">Facebook</a> - <a href="#">Twitter</a></div>
    </div>
</footer>
