<div class="index-banner">
<h1><%= @instrument[:brand] %></h1>
</div>

<div class="jumbotron">
  <h1 class="display-4"><%= @instrument[:category].capitalize  %></p></h1>
  <p class="lead mt-3">Price for rents: <%= @instrument[:renting_price]%> yen</p>
  <hr class="my-4">
  <p>location: <%= @instrument[:location] %></p>
  <p>availability: <%= @instrument[:availability] %></p>
  <p>condtion: <%= @instrument[:condtion] %></p>
  <p>contacts: <%= @instrument.user[:email] %></p>
  </p>
</div>


<% @instrument.photos.each do |photo| %>
  <%= image_tag(photo) %>
<% end %>
<div class="container">
  <%= simple_form_for [@instrument, @booking] do |f| %>
    <%= f.input :start_date %>
    <%= f.input :end_date %>
    <%= f.submit class: 'btn btn-primary' %>
    <% end %>
</div>
